body {
    background: linear-gradient(90deg, rgb(17 74 130 / 10%) 0%, rgba(255, 255, 255, 0) 50%, rgb(17 74 130 / 10%) 100%);
}

header {
	position: fixed;
}

.dropbtn {
	cursor: pointer;
	display: flex;
	padding: 0 20px 0 20px;
	max-width: 1200px;
	width: 100%;
	height: 70px;
	background-color: #114a8224;
	border: 3px ridge #114a8224;
	border-radius: 20px;
	color: #154977;
	font-size: 1.5em;
	font-weight: 500;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	width: 20px;
}

footer {
	width: 100%;
	position: fixed;
	top: 51.875em;
	height: 100%;
}

.titlebtn {
	margin: 0px;
    font-family: Segoe UI, sans-serif;
    font-weight: 700;
}

.dropdown-alt-1 {
	margin: 30px 0 20px 0;
}

.dropdown-alt-2 {
	margin: 20px 0 50px 0;
}

.dropbtn, .dropdown-content {
	position: relative;
	margin: 0 auto;
}

.dropdown-content {
	display: block;
	overflow: hidden;
	background-color: #114a820d;
	border-left: 3px ridge #114a8224;
	border-right: 3px ridge #114a8224;
	border-bottom: 3px ridge #114a8224;		
	border-radius: 0px 0px 20px 20px;
	max-width: 1050px; /*по умолчанию 1100px*/
	width: 100%;
	max-height: 0;
	transition: max-height 400ms ease;
}

.show {
	max-height: 1500px;
	transition: max-height 600ms ease;
}

.dropdown-content ul, .dropdown-content ol {
	margin: 0;
    font-size: 19px;
    font-weight: 700;	
}

.dropdown-content ul {
	list-style-type: ''; /* '-' */
}

.dropdown-content ol {
	color: #154977;
	padding-left: 55px;
}

.dropdown-content ol > li > a {
	padding: 11px 8px;
}


.dropdown-content a {
/*	font-weight: 700;*/
	color: #154977;
/*	font-size: 19px;*/
	padding: 11px 16px;
	text-decoration: none;
	display: block;
}

.title-section {
	margin-top: 4.2em;
}