.section-head-guide {
	background: url("../guide-img/guide10-service-central-ava.png");
}

/* ----Пояснения---- */

.p1 {
	top: 55%;
	left: 51.5%;
}

.p2 {
	top: 25%;
	left: 19.7%;
}

.p3 {
	top: 67%;
	left: 73.2%;
}

.p4 {
    top: 32%;
    left: 30%;
}

.p5 {
	top: 30%;
	left: 55%;
}

.p6 {
	top: 10%;
	left: 64.8%;
}

.p7 {
	top: 46%;
	left: 48.7%;
}

.p8 {
	top: 51%;
	left: 57.7%;
}

.p9 {
	top: 18%;
	left: 53.5%;
}

.p10 {
	top: 13%;
	left: 54.4%;
}

.p11 {
	top: 11%;
	left: 43.2%;
}