.section-head-guide {
	background: url("../guide-img/guide8-service-central-ava.png");
}

/* ----Пояснения---- */

.p1 {
    top: 82%;
    left: 22%;
}

.p2 {
	top: 10.9%;
	left: 56%;
}

.p3 {
	top: 26%;
	left: 61.5%;
}

.p4 {
	top: 44%;
	left: 61.5%;
}

.p5 {
	top: 70%;
	left: 47.5%;
}

.p6 {
	top: 51%;
    left: 53.5%;
}

.p7 {
    top: 57%;
    left: 66%;
}