.section-head-guide {
	background: url("../guide-img/guide2-service-central-ava.png");
}

/* ----Пояснения---- */

.p1 {
	top: 13%;
	left: 53.5%;
}

.p2 {
	top: 49%;
	left: 37.5%;
}

.p3 {
	top: 36%;
	left: 51%;
}

.p4 {
	top: 39%;
	left: 62%;
}

.p5 {
	top: 73%;
	left: 56%;
}

.p6 {
	top: 67%;
	left: 37.3%;
}

.p7 {
	top: 64%;
	left: 53.6%;
}

.p8 {
	top: 59%;
	left: 71.5%;
}

.p9 {
	top: 31%;
	left: 19.7%;
}

.p10 {
    top: 30%;
    left: 26%;
}

.p11 {
	top: 40%;
	left: 65%;
}

.p12 {
    top: 1%;
    left: 54%;
}

.p13 {
	top: 6%;
	left: 38.5%;
}

.p14 {
	top: 58%;
	left: 47%;
}

.p15 {
	top: 56%;
	left: 45%;
}

.p16 {
    top: 79%;
    left: 53%;
}

.p17 {
	top: 7.9%;
	left: 62%;
}

.p18 {
	top: 22%;
	left: 637px;
}

.p19 {
	top: 38%;
	left: 63%;
}

.p20 {
	top: 48%;
	left: 50%;
}

.p21 {
	top: 58.6%;
	left: 55%;
}

.p22 {
	top: 68%;
	left: 49.8%;
}

.p23 {
	top: 78%;
	left: 59%;
}