.section-head-guide {
	background: url("../guide-img/guide6-service-central-ava.png");
}

/* ----Пояснения---- */

.p1 {
	top: 66%;
	left: 62%;
}

.p2 {
	top: 15%;
	left: 65.7%;
}

.p3 {
	top: 43.5%;
	left: 71.5%;
}

.p4 {
	top: 87.1%;
	left: 74.7%;
}