.section-head-guide {
	background: url("../guide-img/guide2-service-linear-ava.png");
}

/*----Пояснения----*/

.p1 {
	top: 40%;
	left: 44.5%;
}

.p2 {
	top: 45%;
	left: 50%;
}

.p3 {
	top: 59%;
	left: 45%;
}

.p4 {
	top: 56%;
	left: 70%;
}

.p5 {
	top: 67%;
	left: 35%;
}

.p6 {
	top: 47%;
	left: 45%;
}

.p7 {
	top: 82%;
	left: 43%;
}