.section-head-guide {
	background: url("../guide-img/guide3-service-central-ava.png");
}

/* ----Пояснения---- */

.p1 {
    top: 20.5%;
    left: 31.9%;
}

.p2 {
    top: 41%;
    left: 65.4%;
}

.p3 {
    top: 86%;
    left: 66.8%;
}

.p4 {
    top: 52%;
    left: 70.5%;
}

.p5 {
    top: 34.1%;
    left: 33.6%;
}

.p6 {
    top: 34.1%;
    left: 64%;
}

.p7 {
    top: 34%;
    left: 63%;
}

.p8 {
    top: 70%;
    left: 67%;
}

.p9 {
    top: 29%;
    left: 27.4%;
}

.p10 {
    top: 30%;
    left: 41.8%;
}

.p11 {
    top: 29%;
    left: 65.6%;
}

.p12 {
    top: 54%;
    left: 53.9%;
}

.p13 {
    top: 38.5%;
    left: 64%;
}

.p14 {
    top: 19%;
    left: 52%;
}

.p15 {
    top: 54.5%;
    left: 24.6%;
}

.p16 {
    top: 61%;
    left: 48%;
}

.p17 {
    top: 23%;
    left: 28%;
}

.p18 {
    top: 45%;
    left: 50%;
}